:root {
  --font-web: "Roboto", "sans-serif";
  --font-title: "Montserrat", sans-serif;
  --font-client: "Satisfy", cursive;
  --Primary-color: #3196ff;
  --back-color: #f4f4f4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: var(--font-web);
}
/* Utilitze */
.container {
  width: 90%;
  margin: auto;
}
.l-heading {
  font-size: 26px;
  color: #3b3b3b;
  font-family: var(--font-title);
}
.m-heading {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
  font-family: var(--font-title);
}
.line {
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  border: 3px solid var(--Primary-color);
  margin: 20px 0;
  position: relative;
}
.line:before {
  content: "";
  width: 50px;
  height: 3px;
  background: var(--Primary-color);
  position: absolute;
  bottom: 27px;
  transform: rotate(-45deg) translateX(-5px);
}
.line::after {
  content: "";
  width: 50px;
  height: 3px;
  background: var(--Primary-color);
  position: absolute;
  transform: rotate(-45deg) translateX(-33px);
  left: -21px;
}
.font-client {
  font-family: var(--font-client);
  font-family: 13px;
}

/* Make Navbar */
#navbar {
  background: var(--back-color);
}
.container-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.container-nav .logo {
  height: 56px;
}
.container-nav .logo img {
  width: 100%;
  height: 100%;
}

.container-nav .list {
  display: flex;
  align-items: center;
}

.container-nav .list .list-item a {
  display: block;
  font-size: 14px;
  color: #4a4a4a;
  padding: 10px 16px;
  font-weight: 500;
  transition: all 0.3s ease-out;
}
.container-nav .list .list-item:hover a {
  background: var(--Primary-color);
  color: #fff;
  border-radius: 2px;
}

/* HEADER */
#showcase {
  height: 80vh;
  position: relative;
  background-color: rgb(0, 0, 0, 0.4);
}
#showcase:before {
  content: "";
  background: url(../Image/d-2.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.showcase-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  position: relative;
}

.showcase-content h1 {
  margin: 27px 0;
  font-size: 39px;
  letter-spacing: 1px;
  font-family: var(--font-title);
}

.btn {
  width: 150px;
  height: 40px;
  margin: 0 15px;
  display: inline-block;
  color: #fff;
  text-align: center;
  border-width: 5px;
  border: 3px solid #fff;
  padding: 7px 0;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: var(--font-title);
}

.btn:hover {
  background-color: var(--Primary-color);
  border: 3px solid var(--Primary-color);
}
/* arrow */
.arrow-down {
  position: absolute;
  bottom: 33px;
  /* animation: name duration timing-function delay iteration-count direction
    fill-mode; */
  animation-name: arrow-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.arrow-down img {
  width: 20px;
  cursor: pointer;
}
/* Add Animation to arrow */
@keyframes arrow-down {
  0% {
    bottom: 33px;
  }

  50% {
    bottom: 10px;
  }

  100% {
    bottom: 33px;
  }
}

/* Section:Little History */
#history {
  padding: 80px 0;
  text-align: center;
  background: var(--back-color);
}
.history-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.history-container > p {
  padding: 0 310px;
  line-height: 1.5;
}
/* Section:Plarces */
#place {
  padding: 30px 0;
  position: relative;
  background: var(--back-color);
}
::-webkit-scrollbar {
  display: none;
}
.place-container {
  display: flex;
  overflow: auto;
  white-space: wrap;
  scroll-behavior: smooth;
}
.places-box {
  width: 300px;
  height: 470px;
  position: relative;
}
.places-box img {
  width: 300px;
  height: 100%;
}
/* Make overLay */
.overlay {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(49, 231, 255, 0.799);
  position: absolute;
  bottom: 0;
  align-items: center;
  text-align: center;
  color: #fff;
  opacity: 0;
  backdrop-filter: blur(3px);
  transition: opacity 0.3s;
  cursor: pointer;
}

.overlay:hover {
  opacity: 1;
}
.overlay > * {
  transform: translateY(40px);
  transition: transform 0.3s;
}
.overlay:hover > * {
  transform: translateY(0px);
}
.overlay p {
  font-size: 15px;
  padding: 0 15px;
  line-height: 1.5;
}
.overlay .social-media {
  margin-top: 35px;
}
.overlay .social-media i {
  padding: 10px;
  margin: 0 10px;
}

.arrow {
  background-color: rgb(255, 255, 255, 0);
  border-radius: 50%;
  display: flex;
  padding: 5px;
  transition: all 0.5s ease;
}
.arrow:hover {
  background-color: rgb(255, 255, 255, 0.5);
}
.arrow-right {
  position: absolute;
  top: 43%;
  right: 20px;
}
.arrow-left {
  position: absolute;
  top: 43%;
  left: 20px;
}

.arrow img {
  width: 28px;
  opacity: 1;
  cursor: pointer;
}

/* Section:Services */
#services {
  background: var(--back-color);
  padding: 80px 0;
}
#services .service {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}
#services .service .service-item {
  width: 310px;
  height: 310px;
  background-color: #fff;
  padding: 30px 20px;
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.5s;
  color: #000;
}
#services .service .service-item:hover {
  transform: scale(1.01);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
#services .service .service-item img {
  width: 47px;
}
#services .service .service-item .line-2 {
  width: 45px;
  height: 3px;
  margin: 14px auto;
  background-color: var(--Primary-color);
}
#services .service .service-item h3 {
  font-size: 19px;
  color: #4a4a4a;
  margin: 14px 0;
  letter-spacing: 1px;
  font-family: var(--font-title);
  line-height: 1;
}
/* Section:Client */
#client {
  text-align: center;
  background-color: #fff;
  padding: 80px 0;
}

#client .history-container p {
  padding-bottom: 22px;
}
/* Client:Brand */
.brands {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.brands img {
  width: 200px;
}
/* Section:Contact-about */
#contact-about {
  background-color: #000;
  color: #fff;
  padding: 50px 0;
}
.contact-about-container {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}
.about,
.contact {
  width: 500px;
  text-align: center;
  border: 3px solid #4a4a4a;
  border-radius: 10px;
  padding: 40px 40px 30px 40px;
}
.about h3 {
  font-family: var(--font-title);
  padding: 20px;
}
.about .line-2 {
  width: 35px;
  height: 3px;
  margin: 14px auto;
  background-color: var(--Primary-color);
}
.about p {
  padding: 4px 0;
  font-weight: 300;
  line-height: 2;
}
/* contact */
.contact > .line-2 {
  width: 35px;
  height: 3px;
  margin: 14px auto;
  background-color: var(--Primary-color);
}
.contact h3 {
  font-family: var(--font-title);
  padding: 20px;
}

.contact .email {
  width: 100%;
  border-bottom: 3px solid #4a4a4a;
}
.contact form label {
  display: block;
  text-align: left;
  font-family: var(--font-title);
  font-size: 15px;
  padding: 10px 0;
}
.contact input,
textarea {
  display: block;
  text-align: left;
  color: #fff;
  font-size: 20px;
}

.contact .email input {
  width: 100%;
  padding: 10px 0;
  border: none;
  outline: none;
  background: transparent;
}

.contact .textarea {
  width: 100%;
  border-bottom: 3px solid #4a4a4a;
  padding: 40px 0;
}
.contact .textarea input {
  width: 100%;
  border: none;
  border-bottom: 3px solid#4a4a4a;
  background: transparent;
  outline: none;
}

.btn-send {
  width: 100%;
  border: none;
  padding: 50px 0;
  color: var(--Primary-color);
  text-align: right;
  display: inline-block;
}
/* Footer:social */
#footer {
  background: var(--Primary-color);
  color: #fff;
  padding: 30px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78%;
  margin: auto;
}
.footer-container .social-media i {
  padding: 10px;
}
