:root {
  --font-web: "Roboto", "sans-serif";
  --font-title: "Montserrat", sans-serif;
  --Primary-color: #3196ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: var(--font-web);
}
/* Utilitze */
.container {
  width: 90%;
  margin: auto;
}
/* Make Navbar */
#navbar {
  background: #fff;
}
.container-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.container-nav .logo {
  height: 56px;
}
.container-nav .logo img {
  width: 100%;
  height: 100%;
}

.container-nav .list {
  display: flex;
  align-items: center;
}

.container-nav .list .list-item a {
  padding: 10px 16px;
  display: block;
  font-size: 14px;
  color: #4a4a4a;
  transition: all 0.3s ease-out;
}
.container-nav .list .list-item:hover a {
  background: var(--Primary-color);
  color: #fff;
  border-radius: 2px;
}

/* HEADER */
#showcase {
  height: 80vh;
  position: relative;
  background-color: rgb(0, 0, 0, 0.4);
}
#showcase:before {
  content: "";
  background: url(../Image/d-1.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.showcase-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.showcase-content h1 {
  margin: 27px 0;
  font-size: 39px;
  letter-spacing: 1px;
  font-family: var(--font-title);
}

.btn {
  width: 150px;
  height: 40px;
  margin: 0 15px;
  display: inline-block;
  color: #fff;
  text-align: center;
  border-width: 5px;
  border: 3px solid #fff;
  padding: 7px 0;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: var(--font-title);
}

.btn:hover {
  background-color: var(--Primary-color);
  border: 3px solid var(--Primary-color);
}
