* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Montserrat", sans-serif;
}
/* Utilitze */
.container {
  width: 1200px;
  margin: auto;
}
/* Make Navbar */
#navbar {
  position: sticky;
  top: 0;
}
.container-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.container-nav .logo {
  width: 216px;
  height: 80px;
}
.container-nav .logo img {
  width: 100%;
  height: 100%;
}

.container-nav .list {
  display: flex;
}

.container-nav .list .list-item {
  padding: 20px 0;
}
.container-nav .list .list-item a {
  padding: 10px 16px;
  display: block;
  font-size: 14px;
  color: #000;
  transition: all 0.3s ease-out;
}
.container-nav .list .list-item:hover a {
  background: #0099ffd2;
  color: #fff;
  border-radius: 2px;
}
.container-nav .list .list-item:hover a {
  background: #0099ffd2;
  color: #fff;
}
